<form class="form create-chat-form">
  <h2 class="create-chat-form__heading">Создать чат</h2>
  {{{ NameInput }}}
  <div class="create-chat-form__button-group">
    {{{ CancelButton }}}
    {{{ ConfirmButton }}}
  </div>
</form>
