<li class="chat-item">
  <img class="chat-item__avatar" src="/avatar.png" alt="Avatar"/>
  <div>
    <div class="chat-item__name">Андрей</div>
    <div class="chat-item__preview">
      <span>Вы:</span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, eum!
    </div>
  </div>
  <div>
    <div class="chat-item__time">12:10</div>
    <div class="chat-item__notification-badge">4</div>
  </div>
  <div class="chat-item__separator"></div>
</li>
