.modal {
  &__background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
  }

  &__card {
    width: fit-content;
    padding: 1rem;
    border-radius: 16px;
    position: relative;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.hidden {
  display: none;
}
