@import "../../styles/variables.pcss";

.button_primary {
  height: 2rem;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: $color-primary;
  margin-bottom: 1rem;
  padding: 12px;
  line-height: 10px;
  box-sizing: border-box;
}
