<li class="chat-thread__message">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
    deserunt quod dolore, incidunt facere rem adipisci quae iure
    officia autem.
  </p>
  <div class="">13:30</div>
</li>
