<div class="page-wrapper">
  {{{ Link }}}
  <main class="settings">
    <img class="settings__avatar" src="/avatar.png" alt="Avatar"/>
      {{{DataForm}}}
      {{{AvatarForm}}}
      {{{PasswordForm}}}
  </main>
</div>
