<div>
  <h2 class="chat-settings__heading">Настройки чата</h2>
  <h3 class="chat-settings__heading">Добавить пользователя</h3>
  {{{ AddUserForm }}}
  <h3 class="chat-settings__heading">Пользователи</h3>
  {{{ UserList }}}
  <h3 class="chat-settings__heading">Удалить чат</h3>
  {{{ DeleteChatButton }}}
  <div class="chat-settings__button-container">
    {{{ CloseButton }}}
  </div>
</div>
