.chat-settings {
  &__heading {
    margin: 1rem 0;
  }

  &__button-group {
    display: flex;
  }

  &__button-container {
    padding-left: 10rem;
  }
}

.separator {
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: #999999;
}
