<li class="chat-item">
  <div class="chat-item__container">
    <img class="chat-item__avatar" src="/avatar.png" alt="Avatar"/>
    <div>
      <div class="chat-item__name">{{ this.title }}</div>
      <div class="chat-item__preview">
        <span class="chat-item__sender">{{this.last_message.user.login}}:</span>
        {{ this.last_message.content}}
      </div>
    </div>
    <div>
      <div class="chat-item__time">12:10</div>
      <div class="chat-item__notification-badge-container">
        <div class="chat-item__notification-badge">
          <span>
            {{this.unread_count}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-item__separator"></div>
</li>
