<aside class="browser">
  {{{ Modal }}}
  {{{ Link }}}
  {{{ CreateButton }}}
  <div class="search">
    <label for="search" class="search__label">Поиск</label>
    <input id="search" class="search__input" name="search_query" type="text" placeholder="Поиск"/>
  </div>
  <ul class="chat-list">
    {{# each ChatItems}}
      {{{ this }}}
    {{/each}}
  </ul>
</aside>
