.chat-thread {
  list-style: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__date-separator {
    text-align: center;
    margin-bottom: 12px;
  }
}
