<div class="browser">
  <a href="../../pages/profile/settings.html" class="profile-link">Профиль</a>
  <div class="search">
    <label for="search">Поиск</label>
    <input id="search"/>
  </div>
  <ul class="chat-list">
    {{> ChatItem/ChatItem}}
  </ul>
</div>
