<div class="row-container">
 {{{ ChatBrowser }}}
  <main class="chat">
    <div class="chat-info">
      <img class="chat-info__avatar" src="/avatar.png" alt="Avatar"/>
      <p class="chat-info__name">Вадим</p>
      <button class="chat-info__etc-button"><img src="/etc.svg" alt="Еще"/></button>
    </div>
    <ul class="chat-thread">
      <li class="chat-thread__date-separator">
        <span>19 июня</span>
      </li>
       {{{ Message }}}
      <li class="chat-thread__date-separator">
        <span>20 июня</span>
      </li>
      {{{ Message }}}
    </ul>
     {{{ MessageControls }}}
  </main>
</div>
