@import "../../styles/variables.pcss";

.link {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &_centered {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
  }

  &_alert {
    text-decoration: none;
    cursor: pointer;
    color: $color-alert;
  }
}
