<div class="message-controls">
  <button class="message-controls__attach-button"><img src="/attach.svg" alt="Добавить вложение"/></button>
  <label for="message" class="message-controls__input-label">Сообщение</label>
  <input id="message" class="message-controls__input" placeholder="Сообщение"/>
  <button class="message-controls__send-button"><img src="/send.svg" alt="Отправить"/></button>
</div>
